<div id="print-section"> 
<br>
<div class="section-title">
  <h2>List of Residents</h2>

<div class="main">
  <div class="form-group has-search">
  <input type="text" (keydown)="search($event)" class="form-control" placeholder="Search for resident name">
  </div>
</div>
</div>
<div class="user-list">
    <table class="table table-hover">
      
        <thead class="thead-dark">
          <tr>
            <th scope="col">UserID QR-Code</th>
            <th scope="col">Username</th>
            <th scope="col">Role</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Address</th>
            <th scope="col">Green Currency amount</th>
            <th scope="col">Box Status</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of userList  | paginate: { itemsPerPage: 10, currentPage: p }">
          <td data-label="qr">
            <ngx-qrcode
            [elementType]= "elementType"
            [value]="i._id"
            class="qrcode"
          ></ngx-qrcode>
          </td>
          <td data-label="Username" [routerLink]="['/userInfo',i._id]">{{ i.name }}</td>
          <td data-label="Role" [routerLink]="['/userInfo',i._id]">{{ i.role }}</td>
          <td data-label="Email" [routerLink]="['/userInfo',i._id]">{{ i.email }}</td>
          <td data-label="Mobile" [routerLink]="['/userInfo',i._id]">{{ i.mobile }}</td>
          <td data-label="Address" [routerLink]="['/userInfo',i._id]">{{ i.address }}</td>
          <td data-label="greenCurrency" [routerLink]="['/userInfo',i._id]">{{ i.greenCurrency }}</td>
          <td data-label="collected" [routerLink]="['/userInfo',i._id]">{{ i.collected }}
            <button type="button" class="btn btn-warning" (click)="returnB(i._id, i.greenCurrency)">Return Box</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
   </div>
  </div>
</div>
<button  id="topright" class="btn btn-outline-success mr-2" [useExistingCss]="true" printSectionId="print-section" ngxPrint>Print</button> 
