
      <br>
      <img src="https://pngimg.com/uploads/free_shipping/free_shipping_PNG2.png" width="200" height="200" class="img-fluid z-depth-0" id="topright" >
        <div class="section-title">    
        <h2>My Cart</h2>
        <br>
        <br>
        <h5>{{msg}}</h5>
        </div>
       
          <!-- Shopping Cart table -->
          <div class="table-responsive" *ngIf = "empty === false" >
          
            <table class="table table-hover">
      
              <!-- Table head -->
              <thead class="thead-dark">
                <tr>
                  <th class="font-weight-bold">
                    <strong> # </strong>
                  </th>
                  <th class="font-weight-bold">
                    <strong>Image</strong>
                  </th>
                  <th class="font-weight-bold">
                    <strong>Item</strong>
                  </th>
                  <th class="font-weight-bold">
                    <strong>Category</strong>
                  </th>
                
                  <th class="font-weight-bold">
                    <strong>Price</strong>
                  </th>
                  <th class="font-weight-bold">
                    <strong>Quantity</strong>
                  </th>
                  <th></th>
                  <th class="font-weight-bold">
                    <strong>Amount</strong>
                  </th>
                 
                  <th></th>
                </tr>
              </thead>
              <!-- /.Table head -->
      
              <!-- Table body -->
              <tbody >
      
                <!-- row -->
                <tr *ngFor="let cart of carts;let i = index">
                  <th>  {{i + 1}} </th>
                  <th scope="row">
                    <img src={{cart.image}} alt="" class="img-fluid z-depth-0">
                  </th>
                 
                  <td style="width:20%">
                  {{cart.name}}
                  </td>
                  <td  style="width:10%">{{cart.category}}</td>
                 
                  <td style="width:10%">{{cart.price | currency:'SGD'}}</td>
                  <td style="width:10%">
                  <button type="button" (click)="decreaseQuantity(cart._id,cart.quantity)" class="btn btn-success"> - </button>
                  {{cart.quantity}}
                  <button type="button" (click)="increaseQuantity(cart._id,cart.quantity)" class="btn btn-success"> + </button>
                 </td>
                 <td></td>
    

                  <td class="font-weight-bold">
                  
                {{cart.price * cart.quantity | currency:'SGD'}}
                </td>
                  
                  <td>
                    <button type="button" class="btn btn-danger" (click)="deleteCart(cart._id)"  name="Remove item">X</button>
                   
                  </td>
                </tr>
                <!-- row -->

               <!-- Last row -->
          <tr>
                <td></td>
                <td>
                    <button type="button" class="btn btn-warning" (click)="clearCart()" >CLEAR ALL
                      </button>
                </td>
             
                <td>
                  <h4>
                    <strong>Total Amount : {{total | currency:'SGD'}}</strong>
                  </h4>
                </td>
                <td>
                  
                </td>

                <td>
                
                </td>
                
                <td>
                  <h4>
                    <strong>My Total Green Currency : {{ userGCA }}</strong>
                  </h4>
                </td>

                <td>
                  <div class="input-group">
                    <input type="number" class="form-control" placeholder="0" id=greenCurrencyInput>
                    <div class="input-group-append">
                      <button class="btn btn-success" (click)="useGC()" type="button">Use Green Currency</button>
                      <button class="btn btn-warning" (click)="undo()" type="button">Undo</button>
                    </div>
                  </div>
                </td>

               
               
                <td class="text-right">
                    <button type="button" (click)="passValue()" class="btn btn-success" >ORDER NOW
                    </button>
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-success" [routerLink]="['/products','All']">CONTINUE SHOPPING</button>
                </td>
              </tr>
              <!-- Last row -->
    
              </tbody>
              <!-- /.Table body -->
      
            </table>
      
          </div>
        
          <!-- /.Shopping Cart table -->
     
      
