<br>
<div class="section-title">
<h2> Order History</h2>
<br>
<br>

<h5>{{msg}}</h5>
</div>
<!-- Order table -->
<div class="table-responsive" *ngIf = !empty>

      <table class="table table-hover">

        <!-- Table head -->
        <thead class="thead-dark">
          <tr>
            <th class="font-weight-bold">
              <strong> Order ID #</strong>
            </th>
            <th class="font-weight-bold">
              <strong> Image</strong>
            </th>
            <th class="font-weight-bold">
              <strong>Item</strong>
            </th>
            <th class="font-weight-bold">
              <strong>Category</strong>
            </th>
            <th class="font-weight-bold">
                <strong>Price</strong>
            </th>
            <th class="font-weight-bold">
              <strong>Quantity</strong>
            </th>
            <th class="font-weight-bold">
              <strong>Amount</strong>
            </th>
             <th class="font-weight-bold">
              <strong>Order Date</strong>
            </th>
           
            <th></th>
            <th></th>
          </tr>
        </thead>
        <!-- /.Table head -->

        <!-- Table body -->
        <tbody >

          <!-- row -->
          <tr *ngFor="let order of orders | paginate: { itemsPerPage: 6, currentPage: p }">
           
            <th>  {{order._id}} </th>
           
            <a>
            <th scope="row">
              <img src={{order.image}} alt="" class="img-fluid z-depth-0">
            </th>
            </a>
           
            <td style="width:15%">
            {{order.name}}
            </td>
            
            <td style="width:8%">{{order.category}}</td>
           
            <td style="width:8%">{{order.price | currency:'USD'}}</td>

            <td style="width:8%">{{order.quantity}}</td>

            <td style="width:8%" class="font-weight-bold">{{order.amount | currency:'USD'}}</td>

            <td style="width:8%">{{order.order_date | date : 'dd/MM/yyyy'}}</td>
            
          

          <td><button type="button" class="btn btn-success" [routerLink]="['/orderInfo',order._id]" >View Details</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteOrder(order._id)" >Cancel</button></td>
        </tr>
          <!-- row -->

         

        </tbody>
        <!-- /.Table body -->

      </table>
      <div class="center">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
     </div> 
    </div>
  
    <!-- /.Order table -->

