    <div class="container">
        
          <form [formGroup]="programsForm"  class="p-5 bg-white" (ngSubmit)="onSubmit()">
              
              <h2>Add Program/Workshops</h2>
              
              <hr>
      
  
                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="name">Name:</label>
                    <input type="text" id="name" formControlName="name" class="form-control" placeholder="Enter Name...">
                  </div>
                </div>
  
                <div class="row form-group">
                    <div class="col-md-12 mb-3 mb-md-0">
                      <label class="font-weight-bold" for="price">Price:</label>
                      <input type="text" id="price" formControlName="price" class="form-control" placeholder="Enter Price...">
                    </div>
                  </div>
  
  
                  <div class="row form-group">
                    <div class="col-md-12 mb-3 mb-md-0">
                      <label class="font-weight-bold" for="category">Category:</label>
                      <select type="text" id="category" class="form-control" formControlName="category">
                        <option value="" disabled selected>Select Category...</option>
                        <option>Program</option>
                        <option>Workshop</option>
                       </select>
                    </div>
                  </div>
  
                
                                            
  
                  <div class="row form-group">
                      <div class="col-md-12 mb-3 mb-md-0">
                        <label class="font-weight-bold" for="description">Description:</label>
                        <textarea cols="35" rows="15" id="description" formControlName="description" class="form-control" placeholder="Enter Description..."></textarea>
                      </div>
                    </div>
       
  
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="capacity">Capacity:</label>
                  <input type="number" id="capacity" formControlName="capacity" class="form-control" placeholder="Enter Capacity...">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="date">Date:</label>
                  <input type="date" id="date" formControlName="date" class="form-control" placeholder="Enter Date...">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="time">Time:</label>
                  <input type="text" id="time" formControlName="time" class="form-control" placeholder="Enter Time...">
                </div>
              </div>
  
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label  class="font-weight-bold" for="image">Image:</label>
                 <br>
                  <input type="file" id="image" formControlName="image" (change)="handleUpload($event)" accept=".png, .jpg, .jpeg, .pdf">
               </div>
             </div>  
                  
             <br> 
             <hr>
  
                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <input type="submit" value="Submit" class="btn btn-success pill text-white px-5 py-2"  >
                  </div>
                </div>
       
  
          </form>
        </div>
  
  
      
  
  
  