     <!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="https://scontent.fsin5-1.fna.fbcdn.net/v/t1.0-0/p640x640/97579174_1956155044683056_5598278772693401600_o.jpg?_nc_cat=100&_nc_sid=e3f864&_nc_oc=AQlN8DW8KiG-D5VAiTfVw_6hiGbTfgPaCVBMLyoK1z2Fxi-MEF6SVERKGUsvOTagtjkAt5p0q7luUZvGq0XFTuPe&_nc_ht=scontent.fsin5-1.fna&_nc_tp=6&oh=a70069d081a059b0813e2b34a2f53ff9&oe=5F031D00" alt="" width="100%" height="30%">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>ABOUT OTOLITH ENRICHMENT</b></span> </h1>
  </div>
</header>

     <div class="site-block-half d-flex">
        <div class="image bg-image"><img src="https://scontent.fsin5-1.fna.fbcdn.net/v/t1.0-9/75371726_1826974480934447_8248897575764099072_n.jpg?_nc_cat=107&_nc_sid=9267fe&_nc_oc=AQn1RPS9t4jsHumRq5lAsxKnnq-9Du4U1EtK0DuLdu0HLDCOSmN276JHmv6ULf3EHY1n9NcInracIaYApWs7y3E3&_nc_ht=scontent.fsin5-1.fna&oh=7b1da426f74dd934e3868a530416fda9&oe=5F02E55E" height="100%" width="100%"></div>
        <div class="text">
          <h1>About Us</h1>
          <p class="margin-top-s">Otolith Enrichment is an education and consultancy company in the areas of aquaculture, agriculture and environmental science. Like otoliths – structures found in the inner ear bones of vertebrates that help animals listen and find balance – Otolith Enrichment aims to do the same for you.</p>
          <p class="margin-top-s">For education, we offer in-school programs that contain both theoretical and practical components specially crafted to kindle students’ passion for learning and to help them realize their full potential. We believe in the importance of not just developing knowledge, but also character, cognitive skills and meta-learning ability. To encourage learning outside of textbooks and classrooms, our aquaculture education facility at Ground-Up Initiative (GUI) provides students with excellent opportunities for hands-on, real experiences. Here, students get up-close experiences with livestock, handling sophisticated scientific equipment, and immersing themselves in the connections between nature and their academic learning. Most importantly, this experiential learning provides exposure for the young learners, allowing them to have first-hand application of knowledge to industry.</p>
          <p class="margin-top-s">Our rich experience with the industry, government and academia also makes us a suitable consultant for industry partners. Specifically those that are seeking solutions built on comprehensive expertise paired with modern, sustainable farming technologies and methodologies. Together with our thorough knowledge of local government policies and plans for the agricultural sector, we aim to provide the most holistic and sustainable solution for your company.</p>
          <p class="margin-top-s">Take advantage of our holistic and sustainable solutions for your company now! So, talk to us. We’re listening. And we’ll help you find your way.</p>
      
        </div>
      </div>
      
      
      <div class="site-block-half d-flex">
       
        <div class="text">
          <h1>Our Vision</h1>
          <p class="margin-top-s">Drivers for sustainable growth in individuals and firms paired in with a strong desire to promote and sustain environmental ethics and responsibility.</p>
        </div>
        <div class="image bg-image" ><img src="https://blogs.3ds.com/perspectives/wp-content/uploads/sites/22/HAND-ON-TREE-scaled.jpg" height="100%" width="100%"></div>
      </div>


      <div class="site-block-half d-flex">
        <div class="image bg-image"><img src="https://scontent.fsin9-2.fna.fbcdn.net/v/t1.0-9/97333018_1956155061349721_7796279658525229056_o.jpg?_nc_cat=106&_nc_sid=e3f864&_nc_ohc=NWZOm7iSMvMAX8MuUes&_nc_ht=scontent.fsin9-2.fna&oh=9bd0e7c42597e9578b8c68fb268fa9df&oe=5EFF66AF" height="100%" width="100%"></div>
        <div class="text">
          <h1>Our Mission</h1>
          <p class="margin-top-s">To nurture the heart and mind of every individual, seeking to help them to find their balance in life.</p>  
        </div>
      </div>