
<div id="print-section"> 
    <div class="container">
        
<br>
<h1 class="center">Top 5 Selling Products</h1>
<br>
<div class="divChart">
    <canvas id="myChartBar"></canvas>
</div>
<br>
<h1 class="center">Product Catergory Popularity</h1>
<br>
<div class="divChart">
    <canvas id="myChartDoughnut"></canvas>
</div>
<br>
<h1 class="center">Top 5 Project Participants No.</h1>
<br>
<div class="divChart">
    <canvas id="myChartBar1"></canvas>
</div>
<br>
<h1 class="center">Top 5 Program Participants No.</h1>
<br>
<div class="divChart">
    <canvas id="myChartBar2"></canvas>
</div>
<br>
<br>  
</div>
</div>

<!-- <div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div> -->




