<div id="print-section"> 
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-5 section-heading">
        <br>
        <div class="section-title">
        <h2 class="mb-5">User Details</h2>
        </div>
        <br>
<div data-label="qr">
<ngx-qrcode [elementType]= "elementType" [value]="userInfo[0]._id" class="qrcode"></ngx-qrcode>
</div>
<br>
<br>

      </div>
    </div>
   
  
    
      <div class="container">
        <div class="row justify-content-start">
          <div class="col-12">

             
               <p><strong>Username : </strong>{{userInfo[0].name}}<p>
               <p><strong>Role : </strong>{{userInfo[0].role}}</p> 
               <p><strong>Email : </strong>{{userInfo[0].email}}</p> 
               <p><strong>Address : </strong>{{userInfo[0].address}}</p> 
               <p><strong>Green Currency : </strong>{{userInfo[0].greenCurrency}}</p> 
               <p><strong>Box collection : </strong>{{userInfo[0].collected}}
               <button type="button" class="btn btn-warning" (click)="returnB(userInfo[0]._id,userInfo[0].greenCurrency)">Return Box</button>
               </p> 
              
          <br>
          <br>
          <h3 class="mb-5"> Registered Program & Workshops</h3>
         <h5 *ngIf= "programsArray.length == 0">
           {{msg}}
         </h5>
         <div class="table-responsive" *ngIf="programsArray.length != 0">
              <table class="table table-hover">
               
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Image</th>
                      <th scope="col">Program Name</th>
                      <th scope="col" style="width:10%">Price</th>
                      <th scope="col" style="width:10%">Category</th>
                      <th scope="col" style="width:10%">Date</th>
                      <th scope="col" style="width:10%">Time</th>
                    </tr>
                  </thead>

                  <tbody *ngFor="let program of programsArray">
                    
                  <tr>
                    <ng-container>
                   
                      <a [routerLink]="['/programmesInfo',program._id]" >
                        <td data-label="qr">
                          <img  src={{program.image}} name="Image" width="200" height="145">
                        </td>
                      </a>
                    <td data-label="name" [routerLink]="['/programmesInfo',program._id]" >{{program.name}}</td>
                    <td data-label="price" [routerLink]="['/programmesInfo',program._id]">{{program.price | currency:'USD'}}</td>
                    <td data-label="category" [routerLink]="['/programmesInfo',program._id]">{{program.category}}</td>
                    <td data-label="date" [routerLink]="['/programmesInfo',program._id]">{{program.date | date : 'dd/MM/yyyy' }}</td>
                    <td data-label="time" [routerLink]="['/programmesInfo',program._id]">{{program.time }}</td>
              
                    </ng-container>

                    </tr>
              
                </tbody>
              </table>

         </div>
            
              <br>
              <br>

              <h3 class="mb-5">Registered Projects</h3>
              
              <h5 *ngIf= "projectsArray.length == 0">
                  {{msg2}}
              </h5>

              <div class="table-responsive"  *ngIf="projectsArray.length != 0">
                 <table class="table table-hover">
                
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Image</th>
                      <th scope="col">Project Name</th>
                      <th scope="col">Date</th>
                    
                    </tr>
                  </thead>
                  
                  <tbody *ngFor="let project of projectsArray">
                  <tr>
                    <ng-container>
                    
                  <a [routerLink]="['/programInfo',project._id]" >
                    <td data-label="qr">
                      <img  src={{project.image}} name="Image" width="200" height="145">
                    </td>
                  </a>
                    <td data-label="name" [routerLink]="['/programInfo',project._id]">{{project.title}}</td>
                    <td data-label="publish" [routerLink]="['/programInfo',project._id]">{{project.publish  | date : 'dd/MM/yyyy' }}</td>
                  
                   
                    </ng-container>
       
                  </tr>
                </tbody>
            
              </table>
              </div>
             <br>
              
       
            </div>
          </div>
      </div>
</div>
</div>
<button  id="topright" class="btn btn-outline-success mr-2" [useExistingCss]="true" printSectionId="print-section" ngxPrint>Print</button> 
