<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <h1>Login</h1>
    <p>Please fill in this form to login.</p>
    <hr>
    
    <label for="name">Username:</label>
    <p><input type="text" formControlName="name" id="name" placeholder="Your username"/></p>
    <label for="password">Password:</label>
    <p><input type="password" formControlName="password" id="password" placeholder="Your password" /></p>
    <p class="right"><a routerLink="/forgotPassword" routerLinkActive="active">Forgot Pasword?</a></p>
      
    <hr>

    <p><button class="signInbtn" type="submit">Login</button></p>
  </div>
  
  <div class="container signUp">
    <p><a routerLink="/register" routerLinkActive="active">No Account? Register here!</a></p>
  </div>

  <br>
  
  <div class="container signUp">
    <p><a routerLink="/accountValidation" routerLinkActive="active">Verify my account</a></p>
  </div>

</form>