
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <h1>Account verification</h1>
      <p>Please fill in this form verified your account.</p>
      <hr>
        <label for="password">Current Password :</label>
        <p><input type="password" formControlName="password" id="password" placeholder="Your password"  minlength="8" required></p>
  
        <label for="repassword">Confirm Password :</label>
        <p><input type="password" formControlName="repassword" id="repassword" placeholder="Your confirm password" /></p>
    
      <hr>
      <p><button class="validatebtn" type="submit" >Verify Me</button></p>
    </div>
    
 
  </form>
