<div class="site-section site-section-sm">
  <div class="container">
    <div class="row">
   
      <div class="col-md-12 col-lg-8 mb-5" >

        <form [formGroup]="addOrderForm"  class="p-5 bg-white" (ngSubmit)="onSubmit()">
      
             
            <h2>Order Information</h2>
            <hr>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">FullName:</label>
                  <input type="text" id="fullname" formControlName="fullname" class="form-control" placeholder="Enter Fullname...">
                </div>
              </div>

              <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="email">Email:</label>
                    <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter Email...">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="phone">Phone No:</label>
                    <input type="text" id="phone" formControlName="phone" class="form-control" placeholder="Enter Phone Number...">
                  </div>
                </div>
                                    

                <div class="row form-group">
                    <div class="col-md-12 mb-3 mb-md-0">
                      <label class="font-weight-bold" for="address">Address:</label>
                      <textarea cols="35" rows="3" id="address" formControlName="address" class="form-control" placeholder="Enter Address..."></textarea>
                    </div>
                  </div>
     
             

                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="card_type">Card Type:</label>
                    <select type="text" id="card_type" class="form-control" formControlName="card_type">
                      <option value="" disabled selected>Select Card Type...</option>
                      <option>American Express</option>
                      <option>MasterCard</option>
                      <option>Visa</option>
                     </select>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                      <label  class="font-weight-bold" for="card_no">Card Number:</label>
                      <input type="text" id="card_no" formControlName="card_no" class="form-control" placeholder="Enter Card Number...">
                </div>
                </div>
               
                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                      <label  class="font-weight-bold" for="expiration">Expiration Month / Year:</label>
                      <input type="month" id="expiration" formControlName="expiration" class="form-control" >
                </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                      <label  class="font-weight-bold" for="cvc">CVC:</label>
                      <input type="text" id="cvc" formControlName="cvc" class="form-control" placeholder="Enter CVC...">
                </div>
                </div>

         

               <br>
               <hr>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
    
                  <input type="submit" value="Submit Order" class="btn btn-primary pill text-white px-5 py-2"  *ngIf="!formProcess">
                  <span class="btn btn-primary pill text-white px-5 py-2" *ngIf="formProcess">Processing please wait...</span>
                </div>
              </div>
     

        </form>
      </div>


    </div>
  </div>
</div>


