 <div class="container">
  
        <form [formGroup]="addOrderForm"  class="p-5 bg-white" (ngSubmit)="onSubmit()">
      
             
            <h2>Order Information</h2>
            <hr>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">FullName:</label>
                  <input type="text" id="fullname" formControlName="fullname" class="form-control" placeholder="Enter Fullname...">
                </div>
              </div>

              <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="email">Email:</label>
                    <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter Email...">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="phone">Phone No:</label>
                    <input type="text" id="phone" formControlName="phone" class="form-control" placeholder="Enter Phone Number...">
                  </div>
                </div>
                                    

                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                <label class="font-weight-bold" for="address">Postal Code.: (e.g. 123456)</label>
                <input type="text" formControlName="address" id="address" class="form-control" placeholder="Enter house postal code..." maxlength="6" required>
               </div>
               </div>
               
               <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="address">Type of housing:</label>
                    <div class="form-check">
                      <label class="form-check-label" for="radio1">
                        <input type="radio" formControlName="radioBtn" id="radioHDB" value="HDB" checked>Public Housing (HDB flats)
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label" for="radio2">
                        <input type="radio" formControlName="radioBtn" id="radioApartments" value="Condominiums">Private Condominiums / Apartments
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" formControlName="radioBtn" id="radioLandedHousing" value="Landed Housing">Landed Housing
                      </label>
                    </div>
                </div>
                </div>
  
                <div class="row form-group">
                    <div class="col-md-12 mb-3 mb-md-0">
                   <label class="font-weight-bold" for="address">Unit Number.: (e.g. #01-123)</label>
                   <input type="text" formControlName="unitNo" id="unitNo" class="form-control"  placeholder="Enter house unit number..."  required>
                </div>
                </div>
     
             

                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                    <label class="font-weight-bold" for="card_type">Card Type:</label>
                    <select id="card_type" class="form-control" formControlName="card_type">
                      <option value="" disabled selected>Select Card Type...</option>
                      <option>American Express</option>
                      <option>MasterCard</option>
                      <option>Visa</option>
                     </select>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                      <label  class="font-weight-bold" for="card_no">Card Number:</label>
                      <input type="text" id="card_no" formControlName="card_no" class="form-control" placeholder="Enter Card Number...">
                </div>
                </div>
               
                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                      <label  class="font-weight-bold" for="expiration">Expiration Month / Year:</label>
                      <input type="month" id="expiration" formControlName="expiration" class="form-control" >
                </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-12 mb-3 mb-md-0">
                      <label  class="font-weight-bold" for="cvc">CVC:</label>
                      <input type="text" id="cvc" formControlName="cvc" class="form-control" placeholder="Enter CVC...">
                </div>
                </div>

         

               <br>
               <hr>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
    
                  <input type="submit" value="Submit" class="btn btn-success pill text-white px-5 py-2"  *ngIf="!formProcess">
                  <span class="btn btn-success pill text-white px-5 py-2" *ngIf="formProcess">Processing please wait...</span>
                </div>
              </div>
     

        </form>
      </div>


   

