h1 {
    color: green;
    font-size: 200%;

  }

p {
    font-size: large;
}

.align-items-center {
    -ms-flex-align: center;
    align-items: center;
  }
  .d-flex {
    display: -ms-flexbox;
    display: flex;
  }